* {
  margin: 0 auto;
}

a {
  display: block;
  font-size: 30px;
  margin-bottom: 40px;
}
a:visited {
  color: gray;
}
a:active {
  color: red;
  border: 4px solid red;
}

a:link {
  color: green;
}

a:hover {
  font-size: 20px;
}

h3 {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}
